<div class="container">
  <div class="row">
    <div class="col-md-3">
      <label for="title">Title:</label>
    </div>
    <div class="col-md-9">
      <div class="input-group">
        <input type="text" id="title" name="title" class="form-control rounded" />
        <div class="input-group-append">
          <select class="form-select rounded" id="titleOperator" name="titleOperator">
            <option value="contains-ignore-case" selected hidden></option>
            <option value="contains-ignore-case" disabled>Contains (Ignore Case)</option>
            <option value="like">Like</option>
            <option value="case-insensitive-like">Case-Insensitive Like</option>
            <option value="starts-with">Starts With</option>
            <option value="exact">Exact</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <label for="description">Description:</label>
    </div>
    <div class="col-md-9">
      <div class="input-group">
        <input type="text" id="description" name="description" class="form-control rounded" />
        <div class="input-group-append">
          <select class="form-select rounded" id="descriptionOperator" name="descriptionOperator">
            <option value="contains-ignore-case" selected hidden></option>
            <option value="contains-ignore-case" disabled>Contains (Ignore Case)</option>
            <option value="like">Like</option>
            <option value="case-insensitive-like">Case-Insensitive Like</option>
            <option value="starts-with">Starts With</option>
            <option value="exact">Exact</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <label for="category">Category:</label>
    </div>
    <div class="col-md-9">
      <div class="input-group">
        <input type="text" id="category" name="category" class="form-control rounded" />
        <div class="input-group-append">
          <select class="form-select rounded" id="categoryOperator" name="categoryOperator">
            <option value="contains-ignore-case" selected hidden></option>
            <option value="contains-ignore-case" disabled>Contains (Ignore Case)</option>
            <option value="like">Like</option>
            <option value="case-insensitive-like">Case-Insensitive Like</option>
            <option value="starts-with">Starts With</option>
            <option value="exact">Exact</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <label for="level">Level:</label>
    </div>
    <div class="col-md-9">
      <input type="number" id="level" name="level" class="form-control rounded" min="0" max="20" step="any" />
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <label for="tags">Tags:</label>
    </div>
    <div class="col-md-9">
      <div class="input-group">
        <input type="text" id="tags" name="tags" class="form-control rounded" />
        <div class="input-group-append">
          <select class="form-select rounded" id="tagsOperator" name="tagsOperator">
            <option value="contains-ignore-case" selected hidden></option>
            <option value="contains-ignore-case" disabled>Contains (Ignore Case)</option>
            <option value="like">Like</option>
            <option value="case-insensitive-like">Case-Insensitive Like</option>
            <option value="starts-with">Starts With</option>
            <option value="exact">Exact</option>
          </select>
        </div>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-md-3">
    <label for="author">Author:</label>
  </div>
  <div class="col-md-9">
    <div class="input-group">
      <input type="text" id="author" name="author" class="form-control rounded" />
      <div class="input-group-append">
        <select class="form-select rounded" id="authorOperator" name="authorOperator">
          <option value="contains-ignore-case" selected hidden></option>
          <option value="contains-ignore-case" disabled>Contains (Ignore Case)</option>
          <option value="like">Like</option>
          <option value="case-insensitive-like">Case-Insensitive Like</option>
          <option value="starts-with">Starts With</option>
          <option value="exact">Exact</option>
        </select>
      </div>
    </div>
  </div>
</div>


  <div class="row">
    <div class="col-md-3">
      <label for="lastModifiedDateStart">Last Modified Date:</label>
    </div>
    <div class="col-md-9">
      <div class="input-group">
        <input type="date" id="lastModifiedDateStart" name="lastModifiedDateStart" class="form-control rounded" placeholder="Start Date" />
        <span class="mx-2">to</span>
        <input type="date" id="lastModifiedDateEnd" name="lastModifiedDateEnd" class="form-control rounded" placeholder="End Date" />
      </div>
    </div>
  </div>
</div>
