<div style="display: flex; justify-content: space-around">
    <div>
        <h1 style="display:inline-block;">Log in</h1>
        <span class="m-3">or</span>
        <button type="submit" class="btn btn-outline-primary" (click)="register()">Sign up</button>
    </div>
</div>
<div style="display: flex; justify-content: space-around">
    <form [formGroup]="loginForm">
        <div class="form-group m-3">
            <label for="username">Username</label>
            <input type="email" class="form-control" id="username" aria-describedby="emailHelp"
                   placeholder="Enter email" formControlName="username">
        </div>
        <div class="form-group m-3">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
        </div>
        <p *ngIf="wrongPassword" class="text-danger">The password was incorrect</p>
        <div style="display: flex; justify-content: space-evenly; margin-top:10px">
            <button type="button" class="btn btn-primary" (click)="login($event)">Log in</button>
        </div>
    </form>
</div>
