<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" >Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="fileDropdown" role="button" data-bs-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              File
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="non-study-packages">All packages</a>
              <hr class="dropdown-divider">
              <a class="dropdown-item" href="package-creation-page">Create a package</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Progress Statistics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="achievements-page">Achievements</a>
          </li>
            <li class="nav-item">
              <a class="nav-link" href="about-page">About</a>
            </li>
        </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Profile
          </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
            <a class="dropdown-item" href="#">Logout</a>
            <a class="dropdown-item" href="#">Login</a>
            <a class="dropdown-item" href="#">Settings</a>
          </div>
        </li>
      </ul>

    </div>
  </div>
</nav>
