<div class="learning-facts-container" *ngIf="package">
    <div class="learning-facts-header">
      <h2 class="learning-facts-title">{{ package.title }} - Learning Facts</h2>
      <button class="add-button" (click)="addFact(package.id)">Add Fact</button>
    </div>
    <div *ngIf="package.questions.length > 0" class="learning-facts-list">
      <ul>
        <li *ngFor="let fact of package.questions">
          <div>
            <p class="fact-question">{{ fact.question }}</p>
            <p class="fact-answer">{{ fact.answer }}</p>
          </div>
          <button class="modify-button" (click)="modifyFact(package, fact, $event)">Modify</button>
        </li>
      </ul>
    </div>
  
    <div *ngIf="package.questions.length === 0" class="no-package-message">
      <p>No learning facts available.</p>
    </div>
</div>
  